{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <h1>Post Detail</h1>
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">{{ post.title }}</h5>
            <p class="card-text">{{ post.description }}</p>
            {% if post.image %}
            <img src="{{ post.image.url }}" class="img-fluid" alt="{{ post.title }}">
            {% endif %}
            <form method="post" action="{% url 'post_delete' post.pk %}">
                {% csrf_token %}
                {% comment %} <p class="card-text">Deleted?: {% if post.is_deleted %}Yes{% else %}No{% endif %}</p> {% endcomment %}
                
            </form>
            {% if post.user == request.user %}
            <button type="submit" class="btn btn-danger">{% if post.is_deleted %}Undelete{% else %}Delete{% endif %}</button>
            <a href="{% url 'post_update' pk=post.pk %}" class="btn btn-primary">Update</a>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}

