{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <h1>Post Detail</h1>
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">{{ post.title }}</h5>
            <p class="card-text">{{ post.description }}</p>
            {% if post.image %}
            <img src="{{ post.image.url }}" class="img-fluid" alt="{{ post.title }}">
            {% endif %}
            <form method="post" action="{% url 'post_delete' post.pk %}">
                {% csrf_token %}
                <p class="card-text">Silindi mi?: {% if post.is_deleted %}Evet{% else %}Hayır{% endif %}</p>
                <button type="submit" class="btn btn-danger">{% if post.is_deleted %}Geri Al{% else %}Sil{% endif %}</button>
            </form>
            {% if post.user == request.user %}
            <a href="{% url 'post_update' pk=post.pk %}" class="btn btn-primary">Güncelle</a>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}

